
@{
    ViewBag.Title = "home";
    Layout = "~/Views/share/_LayoutPage1.cshtml";
}

<h2>home</h2>

@section Subfooter {
    <div style="background-color: yellow">
        Subfooter support
    </div>
}