
@{
    ViewBag.Title = "service";
    Layout = "~/Views/share/_LayoutPage1.cshtml";
}

<h2>service page</h2>

@section Subfooter {
    <div style="background-color: red">
        Subfooter support
    </div>
}
