
@{
    ViewBag.Title = "support";
    Layout = "~/Views/share/_LayoutPage1.cshtml";
}

<h2>support page</h2>

@section Subfooter {
    <div style="background-color: blue">
        Subfooter support
    </div>
}