
@{
    Layout = null;
    ViewBag.Title = "Index";
}
@model Tuan_1.Models.KhoaModels

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>@Model.Message</h2>
        Thong tin khoa
        Ten khoa: @Model.TenKhoa<br/>
        Nam thanh lap: @Model.NamThanhLap<br/>
    </div>
</body>
</html>
