
@{
    Layout = null;
}
@model IEnumerable<tuan04.Models.Deparment>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowDDLDept</title>
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/v2.2.0/dist/bootstrap-validate.js"></script>

    <h2 class="mt-3" style="text-align:center;color:blue;font-weight:bold;">
        DANH SÁCH PHÒNG BAN
    </h2>

</head>
<body>
    <div> 
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                        @Html.ActionLink(item.Name, "ShowlistEmplbyDept", "Dept", new { id=item.DeptId},null)
                    </td>
                </tr>
            }
                
        </table>
    </div>
</body>
</html>
