
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index3</title>
</head>
<body>
    <div> 
        <h2>ID= @ViewBag.id</h2><br />
        <h2>Name= @ViewBag.name</h2>
    </div>
</body>
</html>
